[defaults]
host_key_checking = False
inventory = ./inventory.ini
remote_user = android
forks = 20
timeout = 15

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=30m
control_path = %(directory)s/%%h-%%p-%%r
